<ion-view title="Agregar" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="agregar-button-bar10" class="button-bar">
      <button id="agregar-button28" class="button button-stable  button-block">Buscar</button>
      <a ui-sref="home.opps_tab3" id="agregar-button29" class="button button-light  button-block">Subir Nivel</a>
    </div>
    <div id="agregar-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Estas son
        <strong>las personas</strong> que se encuntran a tu alrededor y tiene tu mismo
        <strong>nivel</strong>
      </p>
    </div>
    <ion-list id="agregar-list7">
     
      <ion-item class="item-avatar item-icon-right positive" id="comunidad-list-item19">
      <img src="img/mike.png">
        <h2positive>Edwin
          <p>500 Puntos</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="comunidad-list-item20">
      <img src="img/logo.png">
        <h2assertive>User 1
          <p>460 Puntos</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="comunidad-list-item21" ui-sref="home.opps">
        <img src="img/logo_2.png">
        <h2assertive>User 2
          <p>10 Puntos - No Accesible</p>
          <i class="icon ion-alert-circled"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>