<ion-view title="Comunidad" id="page4">
  <ion-content padding="true" class="has-header">
    <a ui-sref="home.agregar" id="comunidad-button10" style="text-align:right;" class="button button-light button-small button-outline icon-left ion-person-add">Agregar</a>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="comunidad-list4">
      <ion-item class="item-avatar item-icon-right positive" id="comunidad-list-item18" href="tel:3116794637">
         <img src="img/adam.jpg">
        <h2positive>Freyman
          <p>10.000</p>
          <i class="icon ion-ios-chatboxes-outline"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="comunidad-list-item19">
      <img src="img/mike.png">
        <h2positive>Julian
          <p>500 Puntos</p>
          <i class="icon ion-ios-chatboxes-outline"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="comunidad-list-item20">
      <img src="img/logo.png">
        <h2assertive>Yo
          <p>460 Puntos</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="comunidad-list-item22">
        <img src="img/perry.png">
        <h2positive>Carlos
          <p>200 Puntos</p>
          <i class="icon ion-ios-chatboxes-outline"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="comunidad-list-item21" ui-sref="home.opps">
        <img src="img/logo_2.png">
        <h2assertive>Jorge
          <p>10 Puntos - No Accesible</p>
          <i class="icon ion-alert-circled"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
