<ion-view title="Cupon" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="cupon-container4">
      <h1 id="cupon-heading1" style="color:#fff;text-align:center;">¡ Felicitaciones !</h1>
    </div>
    <div id="cupon-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#fff;">Reclama este cupon
        <strong>con el siguiente codigo</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="cupon-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#fff;font-size:20px;">
        <em>0045678866</em>
      </p>
    </div>
    <div>
      <img src="img/codigo-qr.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="home.tienda" id="cupon-button34" class="button button-stable  button-block">Regresar</a>
  </ion-content>
</ion-view>