<ion-view title="Opps" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 70px;"></div>
    <img id="opps-logo" src="img/logo_2.png">
    <h1 id="opps-heading2" style="color:#fff;text-align:center;">Oopps !</h1>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="opps-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#fff;">Lo sentimos no tienes suficientes
        <strong>puntos</strong> para esta opcion.</p>
    </div>
    <a ui-sref="home.tienda" id="opps-button9" class="button button-dark  button-block icon-left ion-ios-arrow-left">Regresar</a>
  </ion-content>
</ion-view>