<ion-view title="Responde" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="responde2-button-bar7" class="button-bar">
      <button id="responde2-button26" class="button button-dark  button-block icon-left ion-flash">100%</button>
      <button id="responde2-button27" class="button button-dark  button-block icon-left ion-aperture">240 Pto</button>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="responde2-button-bar9" class="button-bar">
      <button id="responde2-button31" class="button button-stable  button-block icon-left ion-aperture">30</button>
      <button id="responde2-button32" class="button button-stable  button-block icon-left ion-android-favorite">210</button>
      <button id="responde2-button33" class="button button-assertive  button-block icon ion-ios-unlocked-outline"></button>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="responde2-form2" class="list">
      <label class="item item-input" id="responde2-input4">
        <input type="text" placeholder="Objeto 1">
      </label>
      <label class="item item-input" id="responde2-input6">
        <input type="text" placeholder="Objeto 1">
      </label>
      <label class="item item-input" id="responde2-input7">
        <input type="text" placeholder="Objeto 1">
      </label>
      <button id="responde2-button7" class="button button-assertive  button-block">Terminar</button>
      <label class="item item-input" id="responde2-input5">
        <input type="text" placeholder="Objeto 2">
      </label>
    </form>
  </ion-content>
</ion-view>