<ion-view title="Responde Imagen" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="respondeImagen-button-bar4" class="button-bar">
      <button id="respondeImagen-button17" class="button button-dark  button-block icon-left ion-flash">100%</button>
      <button id="respondeImagen-button18" class="button button-dark  button-block icon-left ion-aperture">240 Pto</button>
    </div>
    <div>
        <a style="display:block;" ui-sref="home.respondeImagen">
          <img src="img/image.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
    </div>
    <div id="respondeImagen-button-bar5" class="button-bar">
      <button id="respondeImagen-button19" class="button button-stable  button-block icon-left ion-aperture">20</button>
      <button id="respondeImagen-button20" class="button button-stable  button-block icon-left ion-android-favorite-outline">140</button>
      <button id="respondeImagen-button21" class="button button-positive  button-block icon ion-ios-unlocked-outline"></button>
    </div>
    <div id="respondeImagen-container3">
      <form id="respondeImagen-form1" class="list">
        <label class="item item-input" id="respondeImagen-input1" name="respuesta[]">
          <input type="text" placeholder="Objeto 1 - Ingles">
        </label>
        <label class="item item-input" id="respondeImagen-input2" name="respuesta[]">
          <input type="text" placeholder="Objeto 2 - Ingles">
        </label>
        <label class="item item-input" id="respondeImagen-input3" name="respuesta[]">
          <input type="text" placeholder="Objeto 3 - Portuques">
        </label>
        <a ui-sref="responde2" id="respondeImagen-button25" class="button button-positive  button-block icon-left ion-android-send">Enviar Respuestas</a>
      </form>
    </div>
  </ion-content>
</ion-view>