<ion-view title="Tienda" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="tienda-list1">
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item7" ui-sref="home.cupon">
        <img src="img/juank.jpg">
        <h2>20% JuanK</h2>
        <p>30 Puntos</p>
        <i class="icon ion-ios-unlocked-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item8" ui-sref="home.cupon">
        <img src="img/viaje.jpg">
        <h2>Viaje a Chinacota</h2>
        <p>2 Personas - 220 Puntos</p>
        <i class="icon ion-ios-unlocked-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item9" ui-sref="home.opps">
        <img src="img/combo.jpg">
        <h2>Tablet - Panamericana</h2>
        <p>300 Puntos</p>
        <i class="icon ion-android-lock icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item11" ui-sref="home.cupon">
        <img src="img/combo.jpg">
        <h2>20% Mac Combo</h2>
        <p>10 Puntos</p>
        <i class="icon ion-ios-unlocked-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item10" ui-sref="home.cupon">
        <img src="img/combo.jpg">
        <h2>15% Pateles y Pasteles</h2>
        <p>Promo 1 - 30 Puntos</p>
        <i class="icon ion-ios-unlocked-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="tienda-list-item12">
        <img src="img/combo.jpg">
        <h2>15% Pateles y Pasteles</h2>
        <p>Promo 2 - 50 Puntos</p>
        <i class="icon ion-ios-unlocked-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>